@import "tailwindcss";

@theme {
  --color-primary: #0d9488;
  --color-primary-hover: #115e59;
  --color-secondary-light: #5eead4;
  --color-accent-mint: #ccfbf1;
  --color-bg-main: #f8fafc;
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;

  --font-sans: "Inter", "system-ui", "-apple-system", "sans-serif";
}

@layer base {
  body {
    @apply bg-bg-main text-text-primary font-sans antialiased selection:bg-teal-100;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }
}